# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ven/
pip-log.txt
pip-delete-this-directory.txt

# Apps
.env
posts/
posts_database.json
processed_news.json

# IDEs
.vscode/
.idea/
.DS_Store
